{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ AUTHOR }}" />
<meta name="description" content="Open Health Natural Language Processing" />
<meta name="keywords" content="Open Health Natural Language Processing">
{% endblock meta%}

{% block title %}
    {{ SITENAME }}
{% endblock title %}

{% block header %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"
    style="background-color: #f8f9faaa;">
    <div class="col-md-9 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">OHNLP</h1>
        <p class="lead fw-normal">
            Open Health Natural Language Processing<br>
            Guided by <a class="link" href="../page/rite-fair.html">RITE-FAIR</a> Principles</p>
        
    </div>
</div>

{% endblock header %}

{% block main %}

<div class="container mt-5">

    <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">
            Goal of OHNLP
          </h2>
          <p class="lead">
            The goal of the Open Health Natural Language Processing Consortium is to establish an open source consortium to promote past and current development efforts and to encourage participation in advancing future efforts. The purpose of this consortium is to facilitate and encourage new annotator and pipeline development, exchange insights and collaborate on novel biomedical natural language processing systems and develop gold-standard corpora for development and testing. The Consortium promotes the open source UIMA framework and SDK as the basis for biomedical NLP systems. Applications created within UIMA consist of software components (referred to as annotators) and their associated configuration files and external resources. Within the framework, one can also create complete pipelines composed of a sequence of annotators and the data flow between them.
        </p>
        </div>
      </div>

</div>


<hr class="featurette-divider">


<div class="bg-ohnlp-theme text-white py-5">
<div class="container">

    <div class="row featurette">
        <div class="col-md-12 order-md-2">
          <h2 class="featurette-heading">
            Why use NLP?
          </h2>
          <p class="lead">
            The clinical and research medical community creates, manages and uses a wide variety of semi-structured and unstructured textual documents. To perform research, to improve standards of care and to evaluate treatment outcomes easily — and ideally, in an automated fashion — access to the content of these documents is required. The knowledge contained in unstructured textual documents (e.g., pathology reports, clinical notes), is critical to achieving all of these goals. For instance, clinical research usually requires the identification of cohorts that follow precisely defined patient- and disease-related inclusion and exclusion parameters. Biomedical NLP systems extract structured information from textual reports, facilitating searching, comparing and summarization.
        </p>
        </div>
        <!-- <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_185d0054b1b%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_185d0054b1b%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div> -->
      </div>

</div>
</div>

<!-- 


<hr class="featurette-divider">


<div class="container mt-5">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            What is NLP?
          </h2>
          <p class="lead">
            Natural language processing (NLP) is a field of computer science and linguistics concerned with the interactions between computers and human (natural) languages. NLP is used to classify, extract, encode and summarize from text documents. A clinical NLP application will unlock the text to be used for decision support, outbreak detection and quality review.There are two main approaches to NLP use application, the symbolic approach and the statistical approach.
        </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_185d0054b1a%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_185d0054b1a%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        </div>
      </div>

</div> -->


<hr class="featurette-divider">


<div class="container marketing">
    <h2 class="mb-5">
        OHNLP Tools
    </h2>

    <div class="row">
        <div class="col-lg-4">
          <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h3>
            <a href="https://github.com/OHNLP/MedTagger">
              MedTagger
            </a>
          </h3>
          <p>
            MedTagger is a light weight clinical NLP system built upon Apache UIMA.
          </p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h3>
            <a href="https://github.com/OHNLP/Backbone">
              Backbone
            </a>
          </h3>
          <p>
            Backbone is an ETL system that can simplify scalable ETL by transforming such operations into a sequence of simple user-accessible JSON configurations.
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h3>
            <a href="https://github.com/OHNLP/MedTator">
              MedTator
            </a>
          </h3>
          <p>
            MedTator is a serverless text annotation tool for corpus development.
          </p>
        </div><!-- /.col-lg-4 -->
      </div>

</div>

{% endblock main %}